
NODE_ENV=development
PORT=5000
API_VERSION=v1


FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json

FIRESTORE_DEFAULT_LIMIT=20

FIRESTORE_QUERY_MAX_FETCH=500


JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRE=24h
JWT_REFRESH_SECRET=change-me-too
JWT_REFRESH_EXPIRE=7d

CLOUDINARY_CLOUD_NAME=duzpj3zlt
CLOUDINARY_API_KEY=113482655946587
CLOUDINARY_API_SECRET=GaTVY8kS1i-QEGjuL_odUzOThUI

CLIENT_URL=http://localhost:5173

RATE_LIMIT_WINDOW=15
RATE_LIMIT_MAX_REQUESTS=100

MAX_FILE_SIZE=5242880
# 5MB in bytes (5 * 1024 * 1024)

LOG_LEVEL=debug

